<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Assitants</h3>
			 <div class="table-responsive">
      	<table class="table align-items-center table-flush">
          <thead class="thead-light">
          	<tr>
    					<th>S.No.</th>
    					<th>Advocate Name</th>
    					<th>Experience</th>
    					<th>Action</th>
    				</tr>
          </thead>
          <tbody class="advocate_lists">
          	<%= render "/advocates/advocates" %>
          </tbody>
        </table>
       </div>
		</div>
	</div>
</div>